.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  display: none;
  width: 100%;

  background-color: $color-default-white;

  & .container {
    padding: 25px 35px;
  }

  &--active {
    display: block;

    animation: $smooth-appearence;
  }

  &__logo {
    display: flex;
    max-width: 200px;

    transition: $default-transition-settings;

    &:hover {
      opacity: 0.7;
    }

    & svg {
      display: block;
      width: 192px;
      height: 24px;
    }
  }
}
