.modal {
  display: none;

  background-color: $color-default-white;

  &--active {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    min-height: 768px;
    width: 100%;
    padding: 100px;

    opacity: 1;
  }

  &--inactive {
    opacity: 0;
    animation: $smooth-disappearance;
  }

  & span[data-logotype] {
    display: block;
    width: 100%;
    min-width: 300px;

    animation: $smooth-appearence;

    & svg {
      display: block;
      width: 100%;
      margin: 0 auto;
    }
  }

  & button {
    position: absolute;

    display: flex;
    align-self: flex-end;
    height: fit-content;

    font-size: 24px;
    line-height: 22px;
    color: inherit;

    background: none;
    outline: inherit;
    border: none;

    cursor: default;

    @media (min-width: $viewport--md + 1px) {
      cursor: pointer;

      transition: $default-transition-settings;

      &:hover {
        opacity: 0.7;
      }
    }

    & span[data-button-desktop] {
      @include viewport--sm {
        display: none;
      }
    }

    & span[data-button-mobile] {
      @media (min-width: $viewport--md + 1) {
        display: none;
      }
    }
  }
}
